<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html"><img src="images/logo.jpg" width="80px"/> {{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="/creationsnumeriques.html">créations numériques</a></li>
            <li><a href="/langagesvisuels.html">langages visuels</a></li>
            <li><a href="/motion.html">Motion design</a></li>
            <li><a href="/workshops.html">Workshops</a></li>
            <li><a href="/option3d.html">Option 3D</a></li>
            <li><a href="/projetphoto.html">Projet photo</a></li>
            <li><a href="/apropos.html">À propos</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
